extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title

block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/") Home
		+nav_item("/browse", "active") Browse

	.container
		a.btn.btn-default( href="/document/diary") Diary
		br
		br
		a.btn.btn-default( href="/list/newspaperLetters") Newspaper Letters
		br
		br
		a.btn.btn-default( href="/list/privateLetters") Private Letters

