extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title

block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/", "active") Home
		+nav_item("/browse") Browse
		+nav_item("/search") Search
	.container
		p #{body}
