extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title

block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/", "active") Home
		+nav_item("/browse") Browse

	.container
		h1 #{title}
		p Welcome to #{title}. Use the menu bar to begin searching or browsing our collection.
