extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title

block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/", "active") Home
		+nav_item("/browse") Browse

	.container
		p Welcome to 
		h1 #{title}
		img(src='/images/printingpress1.png')
		h3 Printer of some of the most significant documents in New Zealand history, missionary, explorer and botanist, a free wheeling politician and controversialist - William Colenso was a maverick.
